
    <div class="col-md-3">
<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format:'jpeg', fallback:"no_image.jpg" %>
<table class="table">
  <tbody><tr></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>followes</th>
    <th>
      <%= link_to following_user_path(user) do %>
      <%= user.following.count %>
      <% end%>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th>
      <%= link_to followers_user_path(user) do %>
      <%= user.followers.count %>
      <% end %>
    </th>
  </tr>
</tbody></table>
<p><%= link_to"", edit_user_path(user), class: 'btn btn-outline-secondary btn-block fas fa-user-cog' %></p>

<% unless current_user == user %>
  <div id="follow_form">
  <% if current_user.following?(user) %>
    <%= render 'users/unfollow' %>
  <% else %>
    <%= render 'users/follow' %>
  <% end %>
  </div>
<% end %>


<h2>New book</h2>
<%= form_with model: book, local:true do |f| %>
  <div>
    <label>Title</label>
  </div>  
  <div>
    <%= f.text_field :title %>
  </div>
  <div>
    <label>Opinion</label>
  </div>
  <div>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>
</div>
